<!DOCTYPE html>

<html layout:decorate="~{admin/layout}">
<!-- layout.html 상속-->
<div layout:fragment="content">
  <div class="title_line">카테고리 알림</div>
  <div class="message">
    <fieldset class="fieldset_basic">
      <ul>
        <li th:switch="${code}" class="li_none">
          <div th:case="create_success">
            <span class="span_success">공지사항을 등록했습니다.</span><br>
            등록된 공지사항: <span th:text="${title}"></span>
          </div>
          <div th:case="create_fail">
            <span class="span_fail">공지사항 등록에 실패했습니다.</span><br>
            등록 실패된 공지사항: <span th:text="${title}"></span></span>
          </div>
          <div th:case="update_success">
            <span class="span_success">카테고리 수정에 성공했습니다.</span><br>
            수정된 카테고리: <span th:text="${title}"></span>
          </div>
          <div th:case="update_fail">
            <span class="span_fail">카테고리 수정에 실패했습니다.</span><br>
            수정 실패된 카테고리: <span th:text="${title}"></span>
          </div>
          <div th:case="delete_success">
            <span class="span_success">카테고리 삭제에 성공했습니다.</span><br>
            삭제된 카테고리: <span th:text="${title}"></span>
          </div>
          <div th:case="delete_fail">
            <span class="span_fail">카테고리 삭제에 실패했습니다.</span><br>
            삭제 실패된 카테고리: <span th:text="${title}"></span>
          </div>
          <div th:case="parent_update_fail">
            <span class="span_fail">부모 카테고리는 수정할 수 없습니다.</span><br>
            <span class="span_fail">해당 카테고리를 삭제하고 다시 만들어주세요.</span><br>
          </div>
          <div th:case="parent_delete_fail">
            <span class="span_fail">다른 카테고리에 해당 카테고리명이 포함되어 있어 삭제할 수 없습니다.</span><br>
            <span class="span_fail">다른 카테고리를 삭제하고 다시 시도해주세요.</span><br>
          </div>
        </li>

        <li class="li_none">
          <div th:if="${cnt == 0}">
            <button type="button" onclick="history.back()" class="btn btn-secondary btn-sm">다시 시도</button>
          </div>
          <div th:if="${cnt != 0}">
            <button type="button" onclick="location.href='/admin/category/list'" class="btn btn-secondary btn-sm">전체
              목록</button>
          </div>
        </li>
      </ul>
    </fieldset>
  </div>
</div>

</html>