<!DOCTYPE html>

<html layout:decorate="~{admin/layout}">
<!-- layout.html 상속-->
<div layout:fragment="content">
  <div class='title_line'>
    공지사항 수정 >
    <span class="title_line_text" th:text="${noticememberfileVO.title}"></span>
  </div>

  <aside class="aside_right">
    <a href="/admin/notice/create">공지사항 등록</a>
    <span class='menu_divide'>│</span>
    <a th:href="@{|../delete/${noticememberfileVO.noticeno}?word=${word }&now_page=${now_page}|}">삭제</a>
    <span class='menu_divide'>│</span>
    <a href="javascript:location.reload();">새로고침</a>
  </aside>

  <div class='menu_line'></div>

  <form name='frm' method='post' th:object="${noticememberfileVO}" action="/admin/notice/update"
    enctype="multipart/form-data">
    <input type="hidden" name="noticeno" th:value="${noticememberfileVO.noticeno}">
    <input type="hidden" id="notice_file_no" name="notice_file_no"
      th:if="${not #lists.isEmpty(noticememberfileVO.noticeFileVOs)}"
      th:each="file : ${noticememberfileVO.noticeFileVOs}" th:value="${file.notice_file_no}">
    <div>
      <label>제목</label>
      <input type='text' name='title' th:value='${noticememberfileVO.title}' required="required" autofocus="autofocus"
        th:field="*{title}" class="form-control" style='width: 100%;'>
    </div>
    <div>
      <label>내용</label>
      <div id="editor"></div>
      <script th:inline="javascript">
        /* <![CDATA[ */
        const contents = /*[[${noticememberfileVO.contents}]]*/"";
        const {Editor} = toastui;
        const {colorSyntax} = Editor.plugin;

        const editor = new toastui.Editor({
          el: document.querySelector('#editor'),
          height: 'auto',
          initialValue: contents,
          initialEditType: 'wysiwyg',
          previewStyle: 'vertical',
          language: 'ko',
          plugins: [colorSyntax]
        });
        /* ]]> */
      </script>
    </div>
    <div>
      <label>파일</label><br>

      <div th:each="file : ${noticememberfileVO.noticeFileVOs}" class="form-control input-file"
        th:onclick="deletefile(this)">
        <div style="display: flex; z-index: 2; position: relative;">
          <div style="width: 5.47rem; white-space: nowrap;">
            파일 제거
          </div>
          <div style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
            <input type="hidden" th:value="${file.notice_file_no}">
            <span th:text="|${file.name}(${@ThymeleafUtils.formatByteStr(file.sizes)})|"></span>
          </div>
        </div>
      </div>


      <div id="fileInputContainer">
        <div class="file-input-wrapper">
          <input type='file' class="form-control" name='fileSelect' id='fileSelect' th:value='123' onchange="FileName()"
            placeholder="파일 선택">
        </div>
      </div>


      <button type="button" class="btn btn-light" style="margin-top: 15px;" onclick="addFileInput()">파일 추가</button>


    </div>
    <div class="content_body_bottom">
      <button type="button" class="btn btn-secondary btn-sm" onclick="send()">수정</button>
      <button type="button" class="btn btn-secondary btn-sm"
        th:onclick="|location.href='/admin/notice/read/' + ${noticememberfileVO.noticeno}|">취소</button>
    </div>

  </form>

  <div th:replace="~{admin/notice/list_all_component::list_all_fragment}"></div>
  <script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

    const noticeno = /*[[${noticememberfileVO.noticeno}]]*/"";
    let deletefiles = [];

    function addFileInput() {
      // fileInputContainer에서 첫 번째 파일 입력 필드를 클론합니다.
      const container = document.getElementById('fileInputContainer');
      const originalInput = container.querySelector('.file-input-wrapper');
      const newInput = originalInput.cloneNode(true);

      // 클론된 파일 입력 필드의 값을 비웁니다.
      newInput.querySelector('input').value = '';

      // 새로운 파일 입력 필드를 container에 추가합니다.
      container.appendChild(newInput);
    }

    function deletefile(btn) {
      btn.style.display = 'none';
      deletefiles.push(parseInt( btn.querySelector('input').value) );
    }

    function send() {
      let title = document.querySelector('input[name="title"]');
      let contentHTML = editor.getHTML();
      let contentMarkdown = editor.getMarkdown();
      let originfiles = document.querySelectorAll('.notice_file_no');
      let files = document.querySelectorAll('input[type=file]');      
      const formData = new FormData();

      if (contentMarkdown.trim().length == 0) {
        return false;
      }
      formData.append('noticeno', noticeno);
      formData.append('title', title.value);
      formData.append('contents', contentHTML);

      files.forEach(function (value, index, arr) {
        formData.append('files', value.files[0]);
      });

      formData.append('deletefiles', deletefiles);


      fetch('/admin/notice/update', {
        method: 'POST',
        headers: {},
        body: formData
      })
        .then(response => response.json())
        .then(success => {
          if (success) {
            location.href = '/admin/notice/read/' + noticeno;
          } else {
            alert('수정 실패! 다시 시도해주십시오.');
            location.reload(true);
          }
        })
        .catch(error => {
          console.log(error);
        });
    }
    /*]]>*/
  </script>
</div>

</html>