<!DOCTYPE html>

<html layout:decorate="~{admin/layout}">
<!-- layout.html 상속-->
<div layout:fragment="content">
  <div class="container mt-3" style="max-width: 800px;">
    <div class="card">
      <div class="text-center"  style="background: lightgray;">
        <span th:text="${shoesVO.title} + ' >  옵션 추가'" style="font-size: 20px;"
          class="text-center"></span>

        <aside class="aside_right">
          <a href="/admin/shoes/admin_list_all?now_page=1" title="목록"><i class="fas fa-list"></i></a>
          <span class="menu_devide">│</span>
          <a href="javascript: location.reload();" title="새로 고침" style="margin-right: 10px;"><i class="fas fa-sync-alt"></i></a>
        </aside>

      </div>

      <div class="top_menu_line"></div>
      <div class="card-body">
        <form id="createform" th:object="${optionVO}" method="post" action="/admin/shoes/option_create">
          <input type="hidden" name="shoesno" th:value="${optionVO.shoesno}">
          <div class="form-group">
            <label for="sizes">SIZE</label>
            <select name="sizes" id="sizes" class="form-control form-control-sm" value="사이즈를 선택하세요"
              style="width: 20%; margin: 0 auto; text-align: center;">
              <!-- 220부터 300까지의 옵션 추가 -->
              <option value="220">220</option>
              <option value="225">225</option>
              <option value="230">230</option>
              <option value="235">235</option>
              <option value="240">240</option>
              <option value="245">245</option>
              <option value="250">250</option>
              <option value="255">255</option>
              <option value="260">260</option>
              <option value="265">265</option>
              <option value="270">270</option>
              <option value="275">275</option>
              <option value="280">280</option>
              <option value="285">285</option>
              <option value="290">290</option>
              <option value="295">295</option>
              <option value="300">300</option>
              <!-- 다른 옵션들을 필요에 따라 추가하세요 -->
            </select>
          </div>

          <div class="form-group">
            <label for="color">색상</label>
            <input type="text" name="color" id="color" value="" class="form-control form-control-sm"
              placeholder="색상을 입력하세요." style="width: 20%; margin: 0 auto; text-align: center;">
          </div>

          <div class="form-group">
            <label>재고</label>
            <input type="text" id="amount" name="amount" value="" autofocus="autofocus" placeholder="재고를 입력하세요."
              class="form-control form-control-sm" style="width: 20%; margin: 0 auto; text-align: center;">
          </div>

          <div class="form-group">
            <label>신발 번호</label>
            <input type="text" name="shoesno" value="" th:value="${optionVO.shoesno}" autofocus="autofocus"
              class="form-control form-control-sm" style="width: 20%; margin: 0 auto; text-align: center;" readonly>
          </div>
          <div class="form-group">
            <button type="button" onclick="createOption()" class="btn btn-sm" style="background: lightgray;">등록</button>
            <button type="button" onclick="location.href='../admin_list_all'"
              class="btn btn-secondary btn-sm">목록</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script th:inline="javascript">
    var optionList = /*[[${optionList}]]*/[];
    
    function createOption() {
      var form = document.getElementById('createform');
      var sizes = document.getElementById('sizes').value;
      var color = document.getElementById('color').value;
      var amount = document.getElementById('amount').value;
      
      
      if (sizes.trim() === '' || color.trim() === '' || amount.trim() === '') {
        alert('사이즈, 색상, 재고를 입력해주세요.');
        return;
      } else if (/[^0-9]/.test(amount)) {
        alert('올바른 재고를 입력해주세요.');
        return;
      }

     // 색상에 숫자가 포함되어 있는지 확인
      if (/\d/.test(color)) {
        alert('색상에 숫자가 포함되어 있습니다. 올바른 색상을 입력해주세요.');
        return;
      }

      if (optionList.length > 0) {
        for (var i = 0; i < optionList.length; i++) {
          if (parseInt(sizes, 10) === parseInt(optionList[i].sizes, 10) && color === optionList[i].color) {
            alert('같은 사이즈와 색상의 옵션이 있습니다.');
            return;
          }
        }
      }

      form.submit();
    }
  </script>
</div>
</body>

</html>