<!DOCTYPE html>

<html layout:decorate="~{admin/layout}">
<!-- layout.html 상속-->
<div layout:fragment="content">

  <div class="container mt-3" style="max-width: 800px;">
    <div class="card">
      <div class="card-header bg-primary text-white text-center">
        리뷰 >
        삭제

        <aside class="aside_right">
          <a href="/admin/review/list?now_page=1" title="목록"><i class="fas fa-list"></i></a>
          <span class="menu_devide">│</span>
          <a href="javascript: location.reload();" title="새로 고침"><i class="fas fa-sync-alt"></i></a>
        </aside>
      </div>

      <div class="menu_line"></div>

      <div id='panel_delete'
        style='padding: 10px 0px 10px 0px; background-color: #F9F9F9; width: 100%; text-align: center;'>

        <form name="frm" th:object="${shoesVO}" method="post" action="/admin/review/delete">
          <input type="hidden" name="word" th:value="${word}">
          <input type="hidden" name="now_page" th:value="${now_page}">

          <div class="msg_warning">삭제하면 복구 할 수 없습니다.</div>

          <div class="content_body_bottom">
            <button type="submit" class="btn btn-primary btn-sm">삭제</button>
            <a th:href="@{|/admin/review/list/${shoesno}?word=${word}&now_page=${now_page}|}"
              class="btn btn-secondary btn-sm">취소</a>

        </form>
      </div>
    </div>
  </div>

</div>
<!-- /templates/cate/list_all_component.html 파일의 list_all_fragment import -->

</div>

</html>