<!DOCTYPE html>

<html layout:decorate="~{admin/layout}">
<!-- layout.html 상속-->
<div layout:fragment="content">
	<div class='title_line'>
		회원 정보 >
		<span th:text="|${memberVO.name}(${memberVO.nickname})|" class="title_line_text"></span>
	</div>

	<aside class="aside_right">
		<a th:href="@{/admin/member/list(memberno=${memberVO.memberno}, now_page=${param.now_page}, word=${word})}">회원 목록</a>
		<span class="menu_devide">│</span>
		<a th:href="@{/admin/member/update(memberno=${memberVO.memberno}, now_page=${param.now_page}, word=${word})}">회원 수정</a>
		<span class="menu_devide">│</span>
		<a th:href="@{/admin/member/delete(memberno=${memberVO.memberno}, now_page=${param.now_page}, word=${word})}">회원 삭제</a>
		<span class="menu_devide">│</span>
		<a href="javascript: location.reload();">새로 고침</a>
	</aside>
	
	<div th:replace="~{admin/member/list_search_component::list_search_fragment}"></div> 
	
	<div class="menu_line"></div>

	<div class="container mt-3" style="width: 70%; margin: 5px auto;" th:object="${memberVO}">
		<ul class="list-group list-group-flush">
			<li class="list-group-item"><span style="display: inline-block; width: 100px; font-weight: bold;">번호:</span> <span th:text="*{memberno}"></span></li>
			<li class="list-group-item"><span style="display: inline-block; width: 100px; font-weight: bold;">ID:</span> <span th:text="*{id}"></span></li>
			<li class="list-group-item"><span style="display: inline-block; width: 100px; font-weight: bold;">PW:</span> <span th:text="*{pw}"></span></li>
			<li class="list-group-item"><span style="display: inline-block; width: 100px; font-weight: bold;">NAME:</span> <span th:text="*{name}"></span></li>
			<li class="list-group-item"><span style="display: inline-block; width: 100px; font-weight: bold;">NICKNAME:</span> <span th:text="*{nickname}"></span></li>
			<li class="list-group-item"><span style="display: inline-block; width: 100px; font-weight: bold;">PHONE:</span> <span th:text="*{phone}"></span></li>
			<li class="list-group-item"><span style="display: inline-block; width: 100px; font-weight: bold;">EMAIL:</span> <span th:text="*{email}"></span></li>
			<li class="list-group-item"><span style="display: inline-block; width: 100px; font-weight: bold;">THUMB:</span> <span th:text="*{thumb}"></span></li>
			<li class="list-group-item"><span style="display: inline-block; width: 100px; font-weight: bold;">ADDR:</span> <span th:text="|*{zipcode} - *{addr1} - *{addr2}|"></span></li>
			<li class="list-group-item"><span style="display: inline-block; width: 100px; font-weight: bold;">MDATE:</span> <span th:text="*{#dates.format(mdate,'yyyy년 MM월 dd일')}"></span></li>
			<li class="list-group-item"><span style="display: inline-block; width: 100px; font-weight: bold;">RDATE:</span> <span th:text="*{#dates.format(rdate,'yyyy년 MM월 dd일')}"></span></li>
			<li class="list-group-item"><span style="display: inline-block; width: 100px; font-weight: bold;">POINT:</span> <span th:text="*{point}"></span></li>
			<li class="list-group-item"><span style="display: inline-block; width: 100px; font-weight: bold;">GENDER:</span> <span th:text="*{gender}"></span></li>
			<li class="list-group-item"><span style="display: inline-block; width: 100px; font-weight: bold;">GRADE:</span> <span th:text="*{grade}"></span></li>
			<li class="list-group-item"><span style="display: inline-block; width: 100px; font-weight: bold;">ROLE:</span> <span th:text="*{role}"></span></li>
		</ul>
	</div>


	<div th:replace="~{admin/member/list_all_component::list_all_fragment}"></div>

</div>

</html>