.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    animation: fadeIn 0.3s ease-in-out;
    border-radius: 10px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#popup .popup-content p {
  font-size: 20px;
}

/* 검색 결과 용 */
.search-popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.search-popup-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    animation: fadeIn 0.3s ease-in-out;
    border-radius: 10px;
}

.search-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

#shoes-table{
        table-layout: fixed;
        min-width: 100%;
        max-width: 100%;
        width: 100%;
}

#shoes-table th, #shoes-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#shoes-table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  background-color: white;
}

#payment-table{
        table-layout: fixed;
        min-width: 100%;
        max-width: 100%;
        width: 100%;
}

#payment-table th, #payment-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#payment-table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  background-color: white;
}

.shoes_select {
  margin-bottom: 2%;
  display: none;
}

.payment_select {
  margin-bottom: 2%;
  display: none;
}