<div th:fragment="footerFragment">
  <div class='content_body_bottom'>

    <div class="footer_section">
      <div class="return">

        <p class="copyright"> Copyright K Digital, 국가기간 전략산업 직종 직업 훈련 All rights reserved.</p>
        <h3 class="info_tit">CUSTOMER CENTER</h3>
        <strong class="phone">00-0000-0000</strong>
        <p class="runtime">mon - fri AM 09:00 ~ PM 16:00<br>breaktime PM 12:00 ~ PM 13:00<br>Sat, Sun, Red day off</p>


      </div>
      <div class="bank">

        <select class="bank_site" name="select2" onchange="if(this.value) {window.open(value,'_blank')}">
          <option selected="">인터넷뱅킹 바로가기</option>
          <option value="https://www.kbstar.com/">국민은행</option>
          <option value="https://banking.nonghyup.com/nhbank.html">농협</option>
          <option value="https://www.wooribank.com/">우리은행</option>
          <option value="https://mybank.ibk.co.kr/uib/jsp/index.jsp">IBK기업은행</option>
          <option value="https://www.kebhana.com/">하나은행</option>
          <option value="https://bizbank.shinhan.com/index.jsp">신한은행</option>
          <option value="https://www.standardchartered.co.kr/np/kr/cms/pl/wb/Internetbanking.jsp">SC제일은행</option>
          <option value="https://www.epostbank.go.kr/">우체국</option>
          <option value="https://suhyup-bank.com/">수협은행</option>
          <option value="https://ibank.busanbank.co.kr/ib20/mnu/PEB00001">부산은행</option>
          <option value="https://www.knbank.co.kr/ib20/mnu/BHP000000000001">경남은행</option>
          <option value="https://pib.kjbank.com/ib20/mnu/BPB0000000001">광주은행</option>
          <option value="https://www.jbbank.co.kr/MAIN.act?_MENU_PRJ_TYPE_=PLIBS">전북은행</option>
          <option value="https://www.dgb.co.kr/dgb_ebz_main.jsp">대구은행</option>
        </select>
      </div>
    </div>
  </div>
</div>