<!DOCTYPE html>
<html layout:decorate="~{layout}">
<body>
  <div layout:fragment="content">
  <div class="message">
    <fieldset class="fieldset_basic">
      <ul>
        <li th:switch="${code}" class="li_none">
         
          <div th:case="findpwfail">
            <span class="span_fail">존재하지 않는 회원이거나 id 또는 email이 틀립니다.</span><br>
          </div>


          <div th:case="findpwsuccess">
            <span class="span_success">비밀번호를 변경하였습니다. email을 확인해주세요.<br>
            <th:block th:text="|테스트용 pw 확인: ${pw}|"></th:block></span><br>
          </div>
          
          <div th:case="findidfail">
            <span class="span_fail">존재하지 않는 회원이거나 email이 틀립니다.</span><br>
          </div>


          <div th:case="findidsuccess">
            <span class="span_success" th:text="|찾은 아이디:${ids.toString()}|"><br>
            </span><br>
          </div>
          
        </li>
        
        
        <li class="li_none">
          <div>
            <button type="button" onclick="location.href='/'" class="btn btn-secondary btn-sm">메인으로 돌아가기</button>
          </div>
        </li>
      </ul>
    </fieldset>
  </div>

  </div>
</body>

</html>