<!DOCTYPE html>

<html layout:decorate="~{admin/layout}">
<!-- layout.html 상속-->
<div layout:fragment="content">
  <div class="title_line">
    기타 문의 >
    <span th:text="${otherInquiryInfoVO.otherInquiryVO.title}" class="title_line_text"></span>

  </div>
  <aside class="aside_right">
    <a href="javascript:location.reload();">새로고침</a>
  </aside>

  <div class='menu_line'></div>

  <fieldset class="fieldset_basic">
    <form name="frm" th:object="${otherInquiryInfoVO}" method="post" action="/admin/inquiry/other">
      <ul>
        <li class="li_none">
          <div style="width: 100%; word-break: break-all;">

            <span style="font-size: 1.5em; font-weight: bold; float:left; margin-left:1%;"
              th:text="${otherInquiryInfoVO.otherInquiryVO.title}"></span><br>
            <span style="float:right; margin-right:1%;">
              작성자 : <span style="font-size: 1em;" th:text="${otherInquiryInfoVO.memberVO.nickname}"></span>
            </span><br>
            <span style="float:right; margin-right:1%;">
              작성 시간 : <span style="font-size: 1em;"
                th:text="${#dates.format(otherInquiryInfoVO.otherInquiryVO.rdate, 'yy/MM/dd HH:MM')}"></span>
            </span><br>
            <div class='menu_line'></div>
            <div style="white-space: pre-wrap; margin-left:2%;"><span
                th:text="${otherInquiryInfoVO.otherInquiryVO.contents}"></span>
            </div>
          </div>
        </li>
      </ul>

      <ul>
        <li class="li_none">
          <div style="width: 100%; word-break: break-all;">
            <div class='menu_line'></div>
            <div style="margin-left:5%;">
              <label>답변</label>
            </div>
            <div>
              <div
                th:if="${#strings.equals(otherInquiryInfoVO.otherInquiryVO.answer_visible, 'N')}"
                style=" text-align: center;">
                <input type="hidden" name="other_inquiry_no" th:field="*{otherInquiryVO.other_inquiry_no}">
                <input type="hidden" name="word" th:value="${word}">
                <input type="hidden" name="now_page" th:value="${now_page}">
                <textarea name='content' required="required" class="form-control" rows="4"
                  th:field="*{otherInquiryVO.answer_contents}"
                  style='width: 90%; display: block; margin: 0 auto;'></textarea>
                <div class="content_body_bottom">
                  <button type="submit" style="float: right; margin-right:5%"
                    class="btn btn-secondary btn-sm">등록</button>
                </div>
   
</div><br>
<div
  th:if="${#strings.equals(otherInquiryInfoVO.otherInquiryVO.answer_visible, 'Y')}"
  style="margin-left:5%;">
  <span th:text="${otherInquiryInfoVO.otherInquiryVO.answer_contents}"></span>
</div>
</div>
</li>
</ul>
 </form>
</fieldset>

<div th:replace="~{admin/inquiry/other/list_all_component::list_all_fragment}"></div>
</div>



</html>