<div th:fragment="option_read_fragment">
  <!-- <div th:replace=... -->
  <table class="table_basic">
    <colgroup>
      <col style='width: 10%;' />
      <col style='width: 10%;' />
      <col style='width: 10%;' />
      <col style='width: 10%;' />
      <col style='width: 10%;' />
    </colgroup>
    <thead>
      <tr>
        <th class="th_bs">옵션 번호</th>
        <th class="th_bs">사이즈</th>
        <th class="th_bs">재고</th>
        <th class="th_bs">색상</th>
        <th class="th_bs">수정/삭제</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="shoesoptionVO, status:${list}">
        <td class="td_bs" th:text="${shoesoptionVO.optionno}"></td>
         <td class="td_bs" th:text="${shoesoptionVO.sizes}"></td>
         <td class="td_bs" th:text="${shoesoptionVO.amount}"></td>
         <td class="td_bs" th:text="${shoesoptionVO.color}"></td>
        <td class="td_bs" >
            <a th:href="@{|/shoes/option_update/${shoesoptionVO.optionno}?&shoesno=${shoesoptionVO.shoesno}&word=${word}&now_page=${now_page}|}" ><img
                src="/cate/images/update.png" class="icon" ></a>
            <a th:href="@{|/shoes/option_delete/${shoesoptionVO.optionno}?&shoesno=${shoesoptionVO.shoesno}&word=${word}&now_page=${now_page}|}" ><img
                src="/cate/images/delete.png" class="icon"></a>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- 페이지 버튼 목록 출력 시작 -->
  <div class="bottom_menu" th:utext="${paging}"></div>
  <!-- 페이지 버튼 목록 출력 종료 -->
</div>