<!DOCTYPE html>

<html layout:decorate="~{layout}">
<!-- layout.html 상속-->
<div layout:fragment="content">
  <div class="title_line">
    <h1> 브랜드</h1>
  </div>
  <div class="top_menu_line"></div>


  <div class="Page-body constrained">
    <div class="row gutterV-2">
      <div class="main col">
        <div class="row row-1cols--xs row-5cols--lg gutter">
          <div class="col Brands-group">
            <h2 id="나"><span class="sr-only">Brands that start with </span>나</h2>
            <ul>
              <li><button class="Link">나이키</button></li>
            </ul>
          </div>
          <div class="col Brands-group">
            <h2 id="뉴"><span class="sr-only">Brands that start with </span>뉴</h2>
            <ul>
              <li><button class="Link">뉴발란스</button></li>
              <li><button class="Link">뉴에라</button></li>
            </ul>
          </div>
          <div class="col Brands-group">
            <h2 id="데"><span class="sr-only">Brands that start with </span>데</h2>
            <ul>
              <li><button class="Link">데일리페이퍼</button></li>
            </ul>
          </div>
          <div class="col Brands-group">
            <h2 id="라"><span class="sr-only">Brands that start with </span>라</h2>
            <ul>
              <li><button class="Link">라커</button></li>
            </ul>
          </div>
          <div class="col Brands-group">
            <h2 id="마"><span class="sr-only">Brands that start with </span>마</h2>
            <ul>
              <li><button class="Link">마르지엘라</button></li>
            </ul>
          </div>
          <div class="col Brands-group">
            <h2 id="멜"><span class="sr-only">Brands that start with </span>멜</h2>
            <ul>
              <li><button class="Link">멜로디 에사니</button></li>
            </ul>
          </div>
          <div class="col Brands-group">
            <h2 id="반"><span class="sr-only">Brands that start with </span>반</h2>
            <ul>
              <li><button class="Link">반스</button></li>
            </ul>
          </div>
          <div class="col Brands-group">
            <h2 id="살"><span class="sr-only">Brands that start with </span>살</h2>
            <ul>
              <li><button class="Link">살로몬</button></li>
            </ul>
          </div>
          <div class="col Brands-group">
            <h2 id="아"><span class="sr-only">Brands that start with </span>아</h2>
            <ul>
              <li><button class="Link">아디다스</button></li>
            </ul>
          </div>
          <div class="col Brands-group">
            <h2 id="어"><span class="sr-only">Brands that start with </span>어</h2>
            <ul>
              <li><button class="Link">어그</button></li>
            </ul>
          </div>
          <div class="col Brands-group">
            <h2 id="언"><span class="sr-only">Brands that start with </span>언</h2>
            <ul>
              <li><button class="Link">언더아머</button></li>
            </ul>
          </div>
          <div class="col Brands-group">
            <h2 id="조"><span class="sr-only">Brands that start with </span>조</h2>
            <ul>
              <li><button class="Link">조던</button></li>
            </ul>
          </div>
          <div class="col Brands-group">
            <h2 id="캐"><span class="sr-only">Brands that start with </span>캐</h2>
            <ul>
              <li><button class="Link">캐럿츠</button></li>
            </ul>
          </div>
          <div class="col Brands-group">
            <h2 id="컨"><span class="sr-only">Brands that start with </span>컨</h2>
            <ul>
              <li><button class="Link">컨버스</button></li>
            </ul>
          </div>
      </div>
    </div>
  </div>



  <!-- /templates/cate/list_all_component.html 파일의 list_all_fragment import -->

</div>

</html>