<!DOCTYPE html>
<html layout:decorate="~{layout}">
<html xmlns:th="http://www.thymeleaf.org">
<!-- layout.html 상속 -->
<div layout:fragment="content" style="width: 80%; margin:40px auto; text-align: center;">

  <div class="title_line">

    <style>
      .sale {
        color: red;
        font-weight: bold;
        animation: blink 1s infinite;
      }

      .nosale {
        text-decoration: line-through;
        color: gray;
      }

      @keyframes blink {
        0% {
          opacity: 1;
        }

        50% {
          opacity: 0;
        }

        100% {
          opacity: 1;
        }
      }
    </style>

    <span th:if="${categoryVO != null}">
      <span th:text="${categoryVO.name}" style="font-size:20px;"></span>
      > <span th:text="${categoryVO.subname}" style="font-size:20px;"></span>
    </span>
    <span th:if="${word != null and word != ''}">
      <span style="font-size:20px;">&nbsp; 검색어:</span>
      <span th:text="${word}" style="font-size:20px;"></span>
    </span>
  </div>
  <input type="hidden" name="categoryno" th:value="${categoryno}">
  <div class="content_main">
    <div class="content_body">
      <div class="shoes" th:each="shoesVO, status:${list}">
        <div class="square">
          <a style="width: 100%;" th:href="@{|/shoes/${shoesVO.shoesno}|}">
            <img th:each="shoesFile : ${shoesFileList}" th:src="${shoesFile.shoesno == shoesVO.shoesno} ? @{|/file/storage/${shoesFile.src}|} : '/images/no_image_x400.png'"><!-- 이미지 및 기타 정보 -->
          </a>  
        </div>
        <p th:text="${shoesVO.title}"></p>
        <span th:if="${shoesVO.discount > 0}" class="sale">SALE </span>
        <span th:if="${shoesVO.discount > 0}"
          th:text="${#numbers.formatInteger(shoesVO.discount, 1, 'COMMA')}  + '%'"></span>
        <span th:if="${shoesVO.discount > 0}" th:text="${#numbers.formatInteger(shoesVO.price, 3, 'COMMA')} +'원 '"
          class="strike-through"></span>
        <p th:if="${shoesVO.discount == 0}" class="nosale"> </p>
        <span th:if="${shoesVO.discount == 0}" th:text="${#numbers.formatInteger(shoesVO.price, 3, 'COMMA')} +'원 '"
          style="font-size: 20px;"></span>
        <p th:if="${shoesVO.discount > 0}"
          th:text="${#numbers.formatInteger(shoesVO.price - (shoesVO.price * shoesVO.discount / 100), 3, 'COMMA')}  + '원'">
        </p>
        <th:block th:if="${status.index % 5 == 4}"><br></th:block>
      </div>
    </div>
  </div>

</div>

</html>